<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">Thomas Gauvin</h2>
  
      <div class="footer-col-wrapper">  
        <div class="footer-col"><ul class="social-media-list"><li><a href="https://www.linkedin.com/in/thomas-gauvin" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">Thomas Gauvin</span></a></li></ul>
  </div>
  
        <div class="footer-col">
          <p>I build software projects that people love. Check them out!</p>
        </div>
      </div>
  
    </div>

  </footer>