@import url("../assets/fonts/manrope/web/index.css");

html{
    height: 100%;
}

body {
    line-height: 1.65;
    margin: 0;
    font-family: 'Manrope', Helvetica, sans-serif;
    font-weight: 400;
    color: #313131;

    padding-bottom: 2em;
    position: relative;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

header{
    padding-bottom: 5em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2,
.title-name,
.title-bonjour {
    color: #2B2B2B;
    font-weight: 300;
    font-size: 1.7em;
}

h2.blog{
    padding: 0;
    opacity: 0.3;
}

hr{
    opacity: 0.3;
}

li{
    padding: 0.3em 0;
}

.text{
    margin: 1em 0 2em 0;
}

a {
    color: #2B2B2B;
    box-shadow: inset 0 -2px 0 #147d5d;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover{
    color: white;
    box-shadow: inset 0 -33px 0 0 #147d5d;
}

img{
    transition: all .2s ease-in-out;
}

img:hover{
    transform: scale(1.02)
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 42em;
}

.title-card{
    display: flex;
    margin: 1.2em 0em;
}

section{
    margin-bottom: 10em;
}

.section-title{
    letter-spacing: 1px;
    color: #357a38;
    text-transform: uppercase;
    font-weight: 700;
}

.section-content{
    padding: 1em 0em 1em 1em;
}

.title-portrait{
    margin-right: 1em;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    border-color: #dddddd;
    border-width: 3px;
    border-style: solid;
}

.title-text{
    padding: 2em 0em 2em 2em;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .title-text{
        font-size: 1.2em;
        padding-left: 0;
    }
}

.title-bonjour,
.title-name{
    white-space: nowrap;
}

.title-name{
    font-weight: 200;
}

.title-links-container{
    text-align: center;
}


.title-links--icon{
    padding: 0 0.3em 0 0.3em;
}

.title-links--icon:hover{
    text-decoration: none;
}

.experience-component{
    display: flex;
    margin-bottom: 3em;
}

.experience-title{
    font-weight: 700;
}

.experience-date{
    padding-top:0.5em;
    font-size: 0.85em;
}

.experience-image{
    width: 60px;
    height: auto;
}

.experience-content{
    margin-left: 2em;
}

.project-title{
    font-weight: 700;
}

.project-date{
    padding-top: 1em;
    font-size: 0.85em;
}

.project-component{
    margin-bottom: 5em;
}

.project-image-horizontal{
    width: 118%;
}

.project-image-vertical{
    width: 56%;
}

.project-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-vertical{
    flex-direction: column;
}

.projects--container{
    background-color: green;
    height: 24em;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    overflow-x: scroll;
}

.project-card{
    height:90%;
    width: 30%;
    background-color: white;
    border: black 1px solid;
    flex: 0 0 auto;
}

.footer-topographicalmap{
    height: 10em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url("../assets/topographic/Topographic-Map-Patterns3crop.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-copyright{
    text-align: center;
    padding: 1em;
}

.wave:hover {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
